.buttonIconDefault {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50px;
  color:white;
  transition: all 0.2s ease-in-out;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.buttonIconDefault--large {
  width:40px;
  height:40px;
}

.buttonIconDefault--small {
  width:64px;
  height:64px;
}

.buttonIconDefault--primary {
  background-color: #0414A1;
  &:hover{
    background-color: #636CC5;
  }
  &:active {
    background-color: rgb(52,61,136,1);
  }
}

.buttonIconDefault--secondary {
  background-color:#FBDB33;

  &:hover {
    background-color: #F3E081;
  }
  &:active {
    background-color: rgb(206,171,49,1);
  }
}

.buttonIconDefault--outline {
  border: 2px solid #0414A1;
  background-color: transparent !important;

  &:hover{
    border: 2px solid #636CC5;
  }
  &:active {
    background-color: rgb(52,61,136,1);
  }
}

.buttonIconDefault--inversed {
  border: 2px solid #F7F7F7;
  background-color: transparent;

  &:hover{
    border: 2px solid #F7F7F7;
  }
  &:active {
    background-color: rgb(200,200,200,1);
  }
}

.buttonIconDefault--disabled {
  background-color: #A9A9A9;
  border: 2px solid #A9A9A9;
  &:hover{
    cursor: not-allowed;
  }
}
