/* Button.scss */
@import '../../../assets/fonts.scss';

.estyle-button {
  @include fonts-desktop(body-large-1);
}

.buttonDefault {
  display: flex;
  padding: 28px var(--md, 32px);
  flex-direction: row; /* Alterado para row para posicionar o ícone ao lado */
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  color: white;
  transition: all 0.2s ease-in-out;
  border: none;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }

  .icon-container {
    margin-left: 8px; /* Ajuste o espaçamento entre o ícone e o texto conforme necessário */
  }

  .icon {
    fill: currentColor; /* Para o ícone assumir a cor do texto */
  }
}

.buttonDefault--large {
  display: flex;
  padding: 28px var(--md, 32px);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include fonts-desktop(body-large-1);
}

.buttonDefault--small {
  display: flex;
  padding: 14px var(--md, 32px);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include fonts-desktop(body-small-1);
}

.buttonDefault--primary {
  background-color: #0414A1;
  &:hover {
    background-color: #636CC5;
  }
  &:active {
    background-color: rgb(52, 61, 136, 1);
  }
}

.buttonDefault--secondary {
  background-color: #FBDB33;
  color: var(--Neutral-800, #000);
  &:hover {
    background-color: #F3E081;
  }
  &:active {
    background-color: rgb(206, 171, 49, 1);
  }
}

.buttonDefault--outline {
  border: 2px solid var(--Blue-300, #0414A1);
  color: var(--Blue-300, #0414A1);
  background-color: #fff;
  &:hover {
    border: 2px solid #636CC5;
    color: var(--Blue-300, #636CC5);
  }
  &:active {
    border: 2px solid rgb(52, 61, 136, 1);
    color: var(--Blue-400, #343D88);
  }
}

.buttonDefault--textlink {
  background-color: transparent;
  color: var(--Blue-300, #0414A1);
  &:hover {
    color: var(--Blue-300, #636CC5);
  }
  &:active {
    color: var(--Blue-400, #343D88);
  }
}

.buttonDefault--disabled {
  color: #A9A9A9; /* Cor do texto quando desabilitado */
  border: 2px solid #A9A9A9; /* Cor da borda quando desabilitado */
  background-color: #fff; /* Fundo branco mantido quando desabilitado */
  &:hover {
    cursor: not-allowed;
  }
}


