

$font-stack: 'Inter', sans-serif;

$font-desktop:(
        display-1: (
                font-family: $font-stack,
                font-size:5rem,
                line-height:5rem,
                font-weight:600,
                letter-spacing: 0,
                text-decoration: none
        ),
        display-2: (
                font-family: $font-stack,
                font-size:5rem,
                line-height:5rem,
                font-weight: 400,
                letter-spacing: 0,
                text-decoration: none
        ),
        header-1: (
                font-family: $font-stack,
                font-size:3.5rem,
                line-height:4rem,
                font-weight: 400,
                letter-spacing: -2,
                text-decoration: none
        ),
        header-2: (
                font-family: $font-stack,
                font-size:3rem,
                line-height:3.5rem,
                font-weight: 600,
                letter-spacing: -2,
                text-decoration: none
        ),
        header-3: (
                font-family: $font-stack,
                font-size:2.5rem,
                line-height:3rem,
                font-weight: 600,
                letter-spacing: 0,
                text-decoration: none
        ),
        header-4: (
                font-family: $font-stack,
                font-size:2.5rem,
                line-height:3rem,
                font-weight: 400,
                letter-spacing: 0,
                text-decoration: none
        ),
        header-5: (
                font-family: $font-stack,
                font-size:2rem,
                line-height:3rem,
                font-weight: 400,
                letter-spacing: 0,
                text-decoration: none
        ),        
        subtitle-1: (
                font-family: $font-stack,
                font-size: 1.5rem,
                font-weight: 600,
                line-height: 2rem
        ),
        subtitle-2: (
                font-family: $font-stack,
                font-size: 1.5rem,
                font-weight: 400,
                line-height: 2rem
        ),
        body-large-1: (
                font-family: $font-stack,
                font-size: 1.125rem,
                font-weight: 600,
                line-height: 1.5rem
        ),
        body-large-2: (
                font-family: $font-stack,
                font-size: 1.125rem,
                font-weight: 400,
                line-height: 1.5rem
        ),
        body-medium-1: (
                font-family: $font-stack,
                font-size: 1rem,
                font-weight: 600,
                line-height: 1.5rem
        ),
        body-medium-2: (
                font-family: $font-stack,
                font-size: 1rem,
                font-weight: 400,
                line-height: 1.5rem
        ),
        link-text: (
                font-family: $font-stack,
                font-size: 1rem,
                font-weight: 600,
                line-height: 1.5rem,
                text-decoration: underline
        ),
        body-small-1: (
                font-family: $font-stack,
                font-size: 0.875rem,
                font-weight: 600,
                line-height: 1.25rem
        ),
        body-small-2: (
                font-family: $font-stack,
                font-size: 0.875rem,
                font-weight: 400,
                line-height: 1.25rem
        ),
        small-text-1: (
                font-family: $font-stack,
                font-size: 0.75rem,
                font-weight: 600,
                line-height: 1rem
        ),
        small-text-2: (
                font-family: $font-stack,
                font-size: 0.625rem,
                font-weight: 600,
                line-height: 0.875rem
        ),
        overline: (
                font-family: $font-stack,
                font-size: 0.75rem,
                font-weight: 600,
                line-height: 1rem
        ),
);

$font-mobile:(
        display-1: (
                font-family: $font-stack,
                font-size:2.5rem,
                line-height:3rem,
                font-weight:600,
                letter-spacing: 0,
                text-decoration: none
        ),
        display-2: (
                font-family: $font-stack,
                font-size:2.5rem,
                line-height:3rem,
                font-weight: 400,
                letter-spacing: 0,
                text-decoration: none
        ),
        header-1: (
                font-family: $font-stack,
                font-size:2rem,
                line-height:2.5rem,
                font-weight: 400,
                letter-spacing: -2,
                text-decoration: none
        ),
        header-2: (
                font-family: $font-stack,
                font-size:2rem,
                line-height:2.5rem,
                font-weight: 600,
                letter-spacing: -2,
                text-decoration: none
        ),
        header-3: (
                font-family: $font-stack,
                font-size:1.5rem,
                line-height:2rem,
                font-weight: 600,
                letter-spacing: 0,
                text-decoration: none
        ),
        header-4: (
                font-family: $font-stack,
                font-size:1.5rem,
                line-height:2rem,
                font-weight: 400,
                letter-spacing: 0,
                text-decoration: none
        ),
        subtitle-1: (
                font-family: $font-stack,
                font-size: 1.25rem,
                font-weight: 600,
                line-height: 1.5rem
        ),
        subtitle-2: (
                font-family: $font-stack,
                font-size: 1.25rem,
                font-weight: 400,
                line-height: 1.5rem
        ),
        body-large-1: (
                font-family: $font-stack,
                font-size: 1rem,
                font-weight: 600,
                line-height: 1.5rem
        ),
        body-large-2: (
                font-family: $font-stack,
                font-size: 1rem,
                font-weight: 400,
                line-height: 1.5rem
        ),
        body-medium-1: (
                font-family: $font-stack,
                font-size: 0.875rem,
                font-weight: 600,
                line-height: 1.25rem
        ),
        body-medium-2: (
                font-family: $font-stack,
                font-size: 0.875rem,
                font-weight: 400,
                line-height: 1.25rem
        ),
        link-text: (
                font-family: $font-stack,
                font-size: 0.875rem,
                font-weight: 600,
                line-height: 1.25rem,
                text-decoration: underline
        ),
        body-small-1: (
                font-family: $font-stack,
                font-size: 0.75rem,
                font-weight: 600,
                line-height: 1rem
        ),
        body-small-2: (
                font-family: $font-stack,
                font-size: 0.75rem,
                font-weight: 400,
                line-height: 1rem
        ),
        small-text-1: (
                font-family: $font-stack,
                font-size: 0.625rem,
                font-weight: 600,
                line-height: 0.875rem
        ),
        small-text-2: (
                font-family: $font-stack,
                font-size: 0.5rem,
                font-weight: 400,
                line-height: 0.75rem
        ),
        overline: (
                font-family: $font-stack,
                font-size: 0.75rem,
                font-weight: 600,
                line-height: 1rem
        ),
);

@mixin fonts-mobile($variant) {
  @each $name, $style in map-get($font-mobile,$variant){
    #{$name}:$style;
  }
}

@mixin fonts-desktop($variant) {
  @each $name, $style in map-get($font-desktop,$variant){
    #{$name}:$style;
  }
}

