$spacing: (
  none: 0,
  4xs: 2px,
  3xs: 4px,
  2xs: 8px,
  xs: 16px,
  sm: 24px,
  md: 32px,
  lg: 40px,
  1xl: 48px,
  2xl: 56px,
);

@mixin padding($direction: all, $size: md) {
  @if $direction == all {
    @include spacer(padding, $size);
  } @else if ($direction == left) {
    @include spacer(padding-left, $size);
  } @else if ($direction == right) {
    @include spacer(padding-right, $size);
  } @else if ($direction == top) {
    @include spacer(padding-top, $size);
  } @else if ($direction == bottom) {
    @include spacer(padding-bottom, $size);
  } @else if ($direction == x) {
    @include spacer(padding-left, $size);
    @include spacer(padding-right, $size);
  } @else if ($direction == y) {
    @include spacer(padding-top, $size);
    @include spacer(padding-bottom, $size);
  }
}

@mixin margin($direction: all, $size: md) {
  @if $direction == all {
    @include spacer(margin, $size);
  } @else if $direction == left {
    @include spacer(margin-left, $size);
  } @else if $direction == right {
    @include spacer(margin-right, $size);
  } @else if $direction == top {
    @include spacer(margin-top, $size);
  } @else if $direction == bottom {
    @include spacer(margin-bottom, $size);
  } @else if $direction == x {
    @include spacer(margin-left, $size);
    @include spacer(margin-right, $size);
  } @else if $direction == y {
    @include spacer(margin-top, $size);
    @include spacer(margin-bottom, $size);
  }
}

@mixin spacer($attribute, $unit) {
  #{$attribute}: map-get($spacing, $unit);
}