.pageControl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.pageIndicator {
  height: 6px;
  width: 12px;
  background-color: #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.pageIndicator.active {
  width: 48px;
  background-color: #0000ff; /* Cor azul para o item ativo */
  transform: scale(1.1);
}
