/* CardServices.css */

@import '../../../assets/fonts.scss';

.card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: var(--sm, 24px);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  cursor: pointer;
  height: 100%;
}

.card-left {
  background-color: #4f46e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-left img {
  height: 100%; 
  width: 100%; 
  object-fit: cover; 
  object-position: center;
}

.card-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 60px;
  padding-bottom: 72px; 
  padding-left: 32px; 
  padding-right: 32px;
  height: 100%; 
}

.card-overline {
  margin-bottom: 150px;
  @include fonts-desktop(overline);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.card-title {
  @include fonts-desktop(header-3);
}

.card-description {
  color: #374151;
  margin-top: 32px;
  @include fonts-desktop(body-large-2);
}

.card-button {
  margin-top: 32px;
}

@media (max-width: 639px) {
  .card-container {
    height: auto; 
  }

  .card-left {
    height: 100%;
  }

  card-right {
    align-items: center; 
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%; 
  }

  .card-overline, .card-title, .card-description, .card-button {
    width: 100%; 
  }

  .card-overline, .card-title, .card-description {
    text-align: center;
  }

  .card-overline { 
    margin-bottom: 8px;
    @include fonts-desktop(overline);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
  
  .card-title {
    margin-top: 8px;
    @include fonts-desktop(body-large-1);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  
  .card-description {
    color: #374151;
    margin-top: 8px;
    @include fonts-desktop(body-medium-2);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  
  .card-button {
    margin-top: 24px;
  }

  .card-button {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 640px) {
  .card-container {
    flex-direction: row;
    height: 100%;
  }

  .card-left {
    width: 33.3333%;
  }

  .card-right {
    width: 66.6667%;
  }

  .card-left.w-full {
    width: 100%;
  }
}
