.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 72px;

  .first {
    display: flex;
    align-items: center;
    gap: 8px;

    .ellipse {
      background: #91da2e;
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }
    .ellipseYellow {
      background: #eebb02;
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }
  }

  span {
    color: #ffffff;
    font-size: 16px;
  }
}
