@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0');

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}


.container {
    display: flex;
    flex-direction: row;
  a {
    color: #ffffff;
    padding: 4px;
    transition: all 0.4s ease-out;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  a:hover {
    color: #313131;
    border-radius: 40px;
    background-color: #ffffff;
    padding: 4px;
    transition: all 0.4s ease-in;
  }
}
