@import '../../../assets/fonts.scss';
@import "../../../assets/spacing.scss";

.carousel-wrapper {
    @include padding(all, md);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 630px;
    align-items: flex-start;
    width: 100%;

    .carousel-header {  
        flex: 0 0 auto;
        margin-top: 55px;
        margin-right: 20px;
        max-width: 300px; 

        h1 {
            margin: 0;
            text-align: left;
            color: black;
            @include fonts-desktop(header-3);
        }
        button {
            margin-top: 53px;
            height: 64px;
        }
    }

    .carousel {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 0; 
        overflow-x: hidden; 
    }
}
