/* institucional.module.scss */
@import '@/assets/scss/variables';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle at center, rgba(135,206,235,1) 0%, rgba(135,206,235,0) 60%), linear-gradient(to right, #fff, #fff);
    padding: 40px 20px;
    font-family: 'Arial, sans-serif';
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.title h1 {
    color: #000;
    @include fonts-desktop(header-2);
}

.title h2 {
    color: #000;
    margin-top: 20px;
    @include fonts-desktop(subtitle-2);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.control {
    margin-top: $spacing-sm;
}

.card-services {
    background: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    transition: transform 0.3s;
}

.card-services:hover {
    transform: translateY(-10px);
}

.card-services img {
    width: 100%;
    height: auto;
}

.card-services .content {
    padding: 20px;
    text-align: center;
}

.page-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

