@import '@/assets/scss/variables.scss';

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


.block_shorts {
    .slick-slider {
        position: relative;
        > * {
            z-index: 1;
        }
        .slick-dots {
            position: relative;
            bottom: 0;
            margin-top: $spacing-sm;
            display: flex !important;
            gap: 0 6px;
            justify-content: center;
            align-items: center;
            li {
                height: 6px;
                width: 12px;
                margin: 0;
                transition: 600ms ease-in-out all;
                &[class*="active"] {
                    width: 48px;
                    button {
                        background-color: #0414A1
                    }
                }
                button {
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #C8C8C8;
                    border-radius: 6px;
                    transition: 200ms ease-in-out all;
                    &::before {
                        content: initial
                    }
                }
            }
        }
        .slick-list {
            margin: 0 -5px;
            .slick-track {
                @media screen and (min-width: $screen-lg-min) {
                    padding: 35px 0;
                }
                display: flex;
                align-items: center;                    
                .slick-slide {
                    margin: 0 10px;

                    @media screen and (min-width: $screen-lg-min) {
                        margin: 0 15px 0 0px;
                        
                        transition: 250ms ease-in-out all;

                        &.slick-active.slick-center.slick-current {
                            transform: scale(1.15);
                            margin-right: 45px;
                            margin-left: 20px;

                            & + * {
                                transform: scale(1.05)
                            }
                        }
                    }
                }
            }
        }           
    }
}

.modal-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur($spacing-sm);
    backdrop-filter: blur($spacing-sm);   
    overflow: hidden;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-video-inner {
        width: 100%;
        .modal-video-movie-wrap {
            position: relative;
            background-color: black;
            padding: 35px 0 50% 0 !important;
            overflow: hidden;
            border-radius: 30px;
            &::after {
                content: '';
                width: 48px;
                height: 48px;
                border: 5px solid #FFF;
                border-bottom-color: transparent;
                border-radius: 50%;
                display: inline-block;
                box-sizing: border-box;
                animation: rotation 1s linear infinite;
                position: absolute;
                top: calc(50% - $spacing-sm);
                left: calc(50% - $spacing-sm);
                z-index: 1;
            }
            iframe {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }
        }
    }
}