$themes: (
  light: (
    background: rgba(239, 243, 255, 0.9),
    hover-background: rgba(211, 223, 255, 0.8),
  ),
  dark: (
    background: rgba(255, 255, 255, 0.8),
    border: 2px solid #0414a1,
    hover-background: #eff3ff,
  ),
);

@mixin themed() {
    @each $theme, $map in $themes {
      .theme--#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function t($key) {
    @return map-get($theme-map, $key);
  }
