@import '../../../../assets/fonts';

.wrapper {
  max-height: 100px;
  width: 100%;
  transition: max-height 0.3s ease-in-out;
}

.collapsibleBase {
  @include fonts-mobile(body-large-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: 88px;
  border-radius: 4px;
  text-align: left;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #A9A9A9;

  span{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    max-width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &:hover {
    border-bottom: none;
  }
}

.collapsibleBase--box {
  justify-content: space-between;
  width: 345px;
  &:hover {
    background-color: rgba(235, 235, 235, 1);
  }

  .content {
    border: 1px solid rgba(235, 235, 235, 1);
    background-color: transparent;
  }
}

.content {
  padding: 5px 18px;
  display: none;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ffff;
  border-top: 1px solid rgba(235, 235, 235, 1);
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  border-left: 1px solid rgba(235, 235, 235, 1);
  border-right: 1px solid rgba(235, 235, 235, 1);
  width: 100%;
  color: rgba(96, 96, 96, 1);
  @include fonts-mobile(body-large-2);

  p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    max-width: 240px;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
