$color-primary-100: #EFF3FF;
$color-primary-200: #636CC5;
$color-primary-300: #0414A1;
$color-primary-400: #343D88;

$color-highlight-100: #FBF2C3;
$color-highlight-200: #F3E081;
$color-highlight-300: #FBDB33;
$color-highlight-400: #CEAB31;

$color-warning-100: #FFE6CF;
$color-warning-200: #F28C2E;
$color-warning-300: #E06B00;
$color-warning-400: #9D4C02;

$color-success-100: #CDF2CF;
$color-success-200: #5BD05F;
$color-success-300: #028706;
$color-success-400: #005802;

$color-error-100: #FFCDCD;
$color-error-200: #E16E70;
$color-error-300: #C81B04;
$color-error-400: #7D0303;

$color-neutral-100: #FFFFFF;
$color-neutral-200: #F7F7F7;
$color-neutral-300: #EBEBEB;
$color-neutral-400: #C8C8C8;
$color-neutral-500: #A9A9A9;
$color-neutral-600: #606060;
$color-neutral-700: #313131;
$color-neutral-800: #000000;
$color-brand-dark: #040F6D;