@import 'src/assets/fonts.scss';

.container {
  height: 956px;
  width: 84vw;
  display: flex;
  flex-direction: column;
  padding: 0px 22px;
}

.cotainerPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.containerSection1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;

  h1 {
    @include fonts-desktop(header-4);
  }
}

.estiloImagem {
  width: 650px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.containerlistMenu {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  justify-content: space-around;
  width: 40%;

}

.listMenu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: hidden;
  max-height: 72vh;
}
