.tab-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
  
    &.horizontal {
      flex-direction: row;
      gap: 16px; 
    }
  
    &.vertical {
      flex-direction: column;
      gap: 24px; 
    }
  }